<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="base::layout(~{::section})">
<head>
<meta charset="UTF-8" />
<title>Contact Page</title>
</head>
<body>

	
	<section>

		<h1>This is Contact page</h1>

		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam
			perferendis atque repudiandae sequi dolores eius illum natus nobis
			deserunt voluptatum corporis nihil voluptate fugit fuga sed
			consectetur mollitia earum laboriosam repellat saepe. Inventore
			eligendi ex obcaecati nam excepturi quasi eum pariatur beatae
			quibusdam dicta voluptas vitae a praesentium sed ea.</p>
			
		<p>This is contact page</p>

	</section>

</body>
</html>